.facebook-image{
    width: 60%;
    margin-left: -40px;
}
.descrption{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
}
.title-container{
    margin:  50px ;
    align-self: center;
    margin-top: -160px;
    
}