.login-box{
    display: flex;
    flex-direction: column;

}
.login-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
.button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: white;
    text-transform: capitalize;
    align-self: center;
    margin: 10px 0;
    font-weight: bold;
}
.login-button{
    background-color: #1877E7;
    width: 95%;
}
.forget{
    text-decoration: none;
    align-self: center;
    margin: 20px;
    color: #1877f4;
}
.hr{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.signup-button{
    background-color: #42b72a;
    width: 55%;
    font-size: 18px;
    margin-bottom: 20px;
}
.a-tag{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.celebirty{
    align-self: center;
    margin-top: 10px;
}